In [1]:
from hmcollab.tests.fake_data import articles_random_df, dates_random

### Articles random dataset

In [2]:
articles_df = articles_randon_df(n=5)
articles_df

  article_id  color article
0         00  black   shirt
1         01  white   shirt
2         02  black   shoes
3         03  black   pants
4         04  black   shoes

### Random dates

In [3]:
mydates = dates_random(n_month=3)
mydates

month: 03
month: 04
month: 03
month: 04

['2021-03-07',
 '2021-03-20',
 '2021-03-29',
 '2021-04-15',
 '2021-04-11',
 '2021-04-08',
 '2022-03-29',
 '2022-03-21',
 '2022-03-07',
 '2022-04-26',
 '2022-04-19',
 '2022-04-23']