In [1]:
import pandas as pd
import numpy as np

### Articles random dataset

In [14]:
def articles_randon_df(n=20):
    r = np.random.RandomState(42)
    article_id = ["0"+str(i) for i in range(n)]
    color = ["black", "white"]
    article_color = [color[r.randint(low=0, high=len(color))] for i in range(n)]
    article_type = ["shirt","pants","shoes"]
    article = [article_type[r.randint(low=0, high=len(article_type))] for i in range(n)]
    return pd.DataFrame({"article_id": article_id, "color": article_color, "article": article})

articles_df = articles_randon_df(n=5)
articles_df

  article_id  color article
0         00  black   shirt
1         01  white   shirt
2         02  black   shoes
3         03  black   pants
4         04  black   shoes

### Random dates

In [13]:
def dates_random(n_year=50):
    r = np.random.RandomState(42)
    years = [2021, 2022]
    months = {"03":31, "04":30}
    dates = []
    for year in years:
        for month, month_max in months.items():
            days = r.randint(low=1, high=month_max, size = n_year)
            temp = [str(year) + "-" + str(month) + "-0" + str(day) if day<10  
                    else str(year) + "-" + str(month) + "-" + str(day)      
                                for day in days]
        dates.extend(temp)
    return dates

mydates = dates_random(n_year=3)
mydates

['2021-04-15',
 '2021-04-11',
 '2021-04-08',
 '2022-04-26',
 '2022-04-19',
 '2022-04-23']