In [1]:
from hmcollab.tests.fake_data import fake_customers, articles_random_df, dates_random, transactions_random_df

### Customer random dataframe

In [2]:
customer_df = fake_customers(n=16)
customer_df

   customer_id  age
0           00   51
1           01   92
2           02   14
3           03   71
4           04   60
5           05   20
6           06   82
7           07   86
8           08   74
9           09   74
10          0a   87
11          0b   99
12          0c   23
13          0d    2
14          0e   21
15          0f   52

### Articles random dataframe

In [3]:
articles_df = articles_random_df(n=5)
articles_df

  article_id  color article
0         00  black   shirt
1         01  white   shirt
2         02  black   shoes
3         03  black   pants
4         04  black   shoes

### Random dates

In [4]:
mydates = dates_random(n_month=3)
mydates

['2021-03-07',
 '2021-03-20',
 '2021-03-29',
 '2021-04-15',
 '2021-04-11',
 '2021-04-08',
 '2022-03-29',
 '2022-03-21',
 '2022-03-07',
 '2022-04-26',
 '2022-04-19',
 '2022-04-23']

### Random transactions

In [5]:
transaction_df = transactions_random_df(customer_df, articles_df, n=50)
transaction_df

        t_dat customer_id article_id     price  sales_channel_id
0  2021-04-07          03         0b  0.657111                 1
1  2022-04-27          04         0e  0.435673                 2
2  2021-04-17          02         0b  0.730039                 2
3  2022-04-27          04         06  0.047716                 2
4  2021-04-20          04         0b  0.566037                 2
5  2021-03-07          01         0c  0.158646                 2
6  2022-04-09          02         07  0.120165                 1
7  2021-04-13          02         0e  0.341880                 1
8  2022-03-15          02         02  0.091799                 1
9  2022-04-19          04         0d  0.094157                 2
10 2021-04-19          03         00  0.311413                 2
11 2021-04-07          02         03  0.979511                 1
12 2022-03-30          04         01  0.175330                 2
13 2022-04-02          01         07  0.017161                 1
14 2021-03-23          03         03  0.763364                 1
15 2022-04-02          01         01  0.806913                 1
16 2022-04-28          03         0d  0.346304                 2
17 2022-03-27          04         05  0.464674                 2
18 2021-04-05          00         05  0.649774                 1
19 2022-04-11          03         09  0.048059                 1
20 2021-03-01          01         03  0.949146                 1
21 2022-04-05          04         05  0.886680                 1
22 2021-04-03          03         0c  0.260894                 2
23 2021-04-14          00         0e  0.015305                 2
24 2021-03-09          00         01  0.933436                 1
25 2022-03-13          02         09  0.501040                 1
26 2021-04-15          02         0b  0.539377                 2
27 2021-03-28          01         01  0.683964                 2
28 2021-04-07          03         09  0.615851                 1
29 2022-03-25          03         0d  0.943892                 1
30 2021-04-26          02         03  0.944252                 1
31 2021-04-13          03         0d  0.867199                 2
32 2021-03-23          03         0e  0.636404                 2
33 2022-04-23          00         0f  0.800949                 2
34 2021-03-13          02         0e  0.677168                 1
35 2021-04-07          04         07  0.573367                 1
36 2021-04-04          02         0d  0.128500                 2
37 2022-03-30          04         06  0.811204                 2
38 2022-03-17          00         0b  0.820639                 1
39 2022-03-26          01         08  0.625940                 2
40 2021-04-19          03         0d  0.820427                 2
41 2022-03-17          00         07  0.651485                 1
42 2022-04-01          03         04  0.206684                 2
43 2022-03-27          01         0f  0.273961                 1
44 2022-04-28          01         0c  0.214589                 1
45 2021-04-29          00         01  0.377259                 1
46 2021-04-23          01         0e  0.038963                 1
47 2021-03-09          04         04  0.618254                 1
48 2022-03-08          01         07  0.336554                 1
49 2021-03-01          03         09  0.655723                 1