Updated: Sep7th, 2022. Removed content related to subsets (train_x, etc) that could break the notebook when modified

In [1]:
from hmcollab import datasets
from hmcollab import transactions
from hmcollab.directory_tree import HMDatasetDirectoryTree
from hmcollab import directories

In [2]:
import pandas as pd
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings("ignore")

## Aim
Create a target set with the transactions from the last 7 days organized by customer. We would like to have the same format as the one required by the Kaggle competition for the outputs. The idea is to use this dataset (relevant_set) to find those results that are relevant for the scoring functions (MAP@K etc)

### Let's use our toy dataset to get an idea of the time to run it

In [3]:
begin = datetime.now()
# toy = datasets.HMDataset(toy=True)
toy_tree = HMDatasetDirectoryTree(directories.data("toy"))
toy = datasets.HMDataset(tree=toy_tree, folds="twosets")
print('Seconds: ',(datetime.now() - begin).total_seconds())
print('Transactions shape: ', toy.transactions.shape)
print('Unique customers: ',toy.transactions.customer_id.unique().shape)

Seconds:  2.061222
Transactions shape:  (630673, 5)
Unique customers:  (10000,)

### This is the new and improved class to generate the relevant_set

In [4]:

begin = datetime.now()
toy_faster = datasets.Target(toy.transactions)
print((datetime.now() - begin).total_seconds())

0.616594

In [5]:
print('x: ', toy_faster.transactions_x.shape)
print('y: ', toy_faster.transactions_y.shape)
print('Relevant: ', toy_faster.relevant_set.shape)

x:  (595286, 5)
y:  (35387, 5)
Relevant:  (10000, 2)

In [6]:
toy_faster.relevant_set.head()

,customer_id,target
0,00077dbd5c4a4991e092e63893ccf29294a9d5c46e8501...,0903762001 0879189005 0158340001 0867966009 09...
1,002253f0e3869ca2833ca2dfec4f8995ad9cdf8ca2333a...,0429313002 0464297031 0829618004 0884668002
2,00282135561702f5b3b750fa3382d8fd83ce5d761a507e...,0855249006 0822171001
3,00356af493f63b3d5c800d66e5ea35e255e3e602c12ec6...,0909721002 0912204001 0893352002
4,003ca8034fe32b9bab8e1c03d74c972abd80dccf84a302...,0895376004 0873771001 0926285002 0903049003 07...

In [7]:
# toy_faster.relevant_set.to_csv('../data/toy_relevant_set.csv', index=False)